@use '../../../../../assets/colors.scss';

.brand-detail {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &__icon {
    font-size: 4em;
    width: 1em;
    height: 1em;
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  &__subtitle {
    color: colors.$gray-600-color;
  }

  &__section {
    margin-bottom: 1.5rem;
  }

  &__models,
  &__types {
    .brand-detail__chips {
      display: flex;
      justify-content: flex-end;
    }
    .brand-detail__grid {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 1rem;
      margin-top: 1rem;
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
    .brand-detail__card {
      background-color: colors.$white-color;
    }
    .brand-detail__price {
      color: colors.$blue-600-color;
      font-weight: 600;
      margin-top: 0.5rem;
    }
  }
}